*{
    box-sizing: border-box;
}
@media screen and (min-width: 200px){
body{
    background-color: gray;
	font-family: 'Roboto', sans-serif;
}
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
@media screen and (min-width: 200px) {
	

header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	position: absolute;
    margin: 0px auto;
    border-radius: 5px;
    margin-bottom: 10px;
	min-width: 300px;
}
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	letter-spacing: 5px;
}	

nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
#contact{
    background-color: dodgerblue;
    border-radius: 7px;
}
main{
	padding-top: 150px;
}
.box {
	background-color: white;
	max-width: 600px;
	width: 90%;
	margin: 40px auto;
	box-shadow: 0 0 30px rgba(0,0,0,.7);
	border: #262626 5px solid;
	border-radius: 10px;
}
.box .box-content {
	padding: 20px
}
.box .box-content p {
	color: #535353
}
.box .box-content h2 {
	margin: 0;
	color: dodgerblue;
}
.box .header-image {
	background: url('img/suly5.jpg') top center;
	height: 370px
}
.box .header-img {
	background: url('img/suly8.jpg') top center;
	height: 450px;
}
.box .header-imgg {
	background: url('img/suly9.jpg') top center;
	height: 300px
}